<?xml
  version="1.0"
  encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity
    Name="71c277f5-9707-44b2-a8c3-4989bddbe099"
    Publisher="CN=Rudi Grobler"
    Version="1.0.0.0" />
  <Properties>
    <DisplayName>Scoreoid.Sample</DisplayName>
    <PublisherDisplayName>Rudi Grobler</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource
      Language="x-generate" />
  </Resources>
  <Applications>
    <Application
      Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="Scoreoid.Sample.App">
      <VisualElements
        DisplayName="Scoreoid Sample"
        Logo="Assets\Logo.png"
        SmallLogo="Assets\SmallLogo.png"
        Description="Scoreoid Sample"
        ForegroundText="light"
        BackgroundColor="#FFFFFF">
        <DefaultTile
          WideLogo="Assets\WideLogo.png" />
        <SplashScreen
          Image="Assets\SplashScreen.png"
          BackgroundColor="#FFFFFF" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability
      Name="internetClient" />
  </Capabilities>
</Package>